* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header 
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav 
{
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .menu, .button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2E2E2;
    border-radius: 8px;
    height: 50px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
}

.logo 
{
    width: 200px;
    height: 60px;
    gap: 20px;
}
.menu 
{
    width: 820px;
    height: 34px;
}
.button 
{
    width: 120px;
    height: 42px;
}
.main 
{
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
}
.nhanh 
{
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content, .image 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2E2E2;
    border-radius: 8px;
    height: 350px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 20px;
}
.content 
{
    width: 585px;
    height: 267px;
}
.image 
{
    width: 585px;
    height: 520px;
}
.sec1 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: -20px;
    gap: 40px;
}

.sec1-1 
{
    width: 95%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.title 
{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background: #E2E2E2;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80px;
}
.sec2 
{
    width: 100%;
    height: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-1 
{
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: -120px;
}

.item1 
{
    width: calc((100% - 60px) / 3);   
    height: 420px;
    border-radius: 8px;
    background: #E2E2E2;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Be Vietnam Pro';
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.sec3 
{
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
    gap: 40px;
}
.titl, .titl-1 
{
    width: 95%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-1 
{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background: #E2E2E2;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3-1 
{
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.item2 
{
    width: calc((100% - 120px) / 5); 
    height: 300px;
    border-radius: 8px;
    background: #E2E2E2;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sec4-1 {
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.item3 {
    width: calc((100% - 90px) / 4); 
    height: 300px;
    border-radius: 8px;
    background: #E2E2E2;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro';
}
.footer {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2E2E2;
}
.f1 {
    width: 95%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
}
